black==24.3.0
distro==1.8.0
elasticsearch==8.11.0
jsons==1.6.3
pydantic>=1.2
pyluwen @ git+https://github.com/tenstorrent/luwen.git@v0.3.8#subdirectory=crates/pyluwen
tt_tools_common @ git+https://github.com/tenstorrent/tt-tools-common.git@v1.4.4
rich==13.7.0
textual==0.59.0
pre-commit==3.5.0
importlib_resources==6.1.1
setuptools